html,
body {
  padding: 1rem;
  margin: 0;
  font-family: Helvetica, Arial, "Helvetica Neue", sans-serif;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}

tr,
th,
td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5rem;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
