.container {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.section {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.5rem 0;
}
.button-row * {
  margin-left: 1rem;
}
.codeBox {
  padding: 1rem;
  width: calc(100% - 2rem);
  height: 80px;
}

.error {
  display: block;
  background-color: pink;
}
